@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,900;1,200;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.pointer{
    cursor: pointer;
}
.bold{
    font-weight: 800;
}



.navigation{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
}

.span_row{
    display: flex;
    flex-direction: row;
   
}

.welcome-container{
    width: 100%;
    height: 90vh;
    background-image: url(/assets/images/background.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.shop-btn{
    width: 5em;
    height: 2em;
    margin-top: 2em;
    border: none;
    border-radius: 20px;
    background-color: #ddc01a;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}

.benefits-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.icon-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 30vh;
    justify-content: center;
    border: #acb3b8 5px solid;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 15px;
    
}

.featured-section{
    background-color: #212327;
    display: flex;
    flex-direction: column;
    color: #acb3b8;
}

.desc-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(207, 207, 207);
    margin-top: 1.2em;
}
.underline{
    position: relative;
    display: inline-block;
    content: "";
    width: 80%;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.underline::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 100%; 
    background-color: #ddc01a;
    border-radius: 20px;
}


.products-tiles{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    
}

.product-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 40%;
    padding: 5px;
    
}

.products-tiles img {
    width: 90%;
    height: 90%;
    border-radius: 5px;
}

.category-store{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-weight: 900;
    font-size: 2.5em;
    color: white;
    
}

.category-btn{
    width: 40%;
    height: 15%;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #212327;
    color: whitesmoke;
    

}

.category-tile{
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    
}
.category-tile h4{
    -webkit-text-stroke: #2b313d 1px;
}
.sneakers-tile{
    background-image: url(/assets/images/sneakers.webp);
}

.acsessory-tile{
    background-image: url(/assets/images/acsessory.webp);
}

.clothes-tile{
    background-image: url(/assets/images/clothes.webp);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #ddc01a;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  footer{
    background-color: #171717;
    width: 100%;
    color: white;
  }

  .categories, .informations, .help, .contact, .rights{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2em;
    padding-top: 1em;
  }

  .categories, .informations, .help, .contact, a{
    text-decoration: none;
    color: white;
    font-weight: 300;
  }

  .underline-footer{
    margin: auto;
    margin-top: 1em;
  }

  .rights{
    font-weight: 300;
    font-size: 14px;
  }