@import url('http://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,900;1,200;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,900;1,200;1,400;1,700;1,900&family=Qwitcher+Grypen:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.pointer{
    cursor: pointer;
}
.bold{
    font-weight: 800;
}
.hidden{
    display: none;
}
.flex{
    display: flex;
}



/* Custom CSS */



/* HEADER CSS */


/* Navigation */
.navigation{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
}

.span_row{
    display: flex;
    flex-direction: column;
   
}

.cursive-text{
    font-size: 3em;
    font-weight: bold;
    transform: skewY(-10deg);
    color: #ddc01a;
    margin-top: -0.6em;
    margin-left: 1.5em;
    font-family: 'Qwitcher Grypen', cursive;

}

.menu-navi, .shopping-cart-menu{
    position: absolute;
    background-color: #2b313d;
    z-index: 1;
    width: 80%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    animation-duration: 0.5s; 
    animation-timing-function: ease-in;  
}

.open-menu{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: whitesmoke;
}

.open-menu img, .close-cart img{
    width: 40px;
    height: 40px;
    filter: invert(100%);
}

.list-menu{
    display: flex;
    width: 100%;
    padding: 1.5em;
}

.list-menu ul li {
    list-style: none;
    font-size: 1.3em;
    padding: 0.5em;
    font-weight: 600;
}

.input-search{
    display: flex;
    background-color: white;
    justify-content: center;
    justify-items: center;
    width: 80%;  
}

.input-search-active{
    border: 1px solid #ddc01a;
    box-shadow: 0 0 10px rgba(245, 248, 75, 0.5);
}

.search-button{
    display: flex;
    background-color: white;
    border: none;
}

.input-search img{
    width: 100%;
    height: 100%;
}

.input-search input{
    width: 80%;
    border: none;
}

.input-search input:focus{
    outline: none;
}

/* Shopping Menu Cart */

.shopping-cart-menu{
    margin-left: 20%;
    color: white;
    padding-top: 5em;
}

.shopping-cart-menu .close-cart{
    position: absolute;
    left: 1.5em;
    top: 1em;
}


.header-cart{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.header-cart img{
    width: 40px;
    height: 40px;
    filter: invert(100%);

}
.product-cart{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    border-bottom: #ddc01a 1px solid;
    
}

.image-product-cart{
    width: 50%;
    height: auto;
}

.product-cart img{
    width: 80%;
    height: 50%;
}

.info-product-cart{
    width: 50%;
    font-weight: 300;
}

.info-product-cart h6{
    font-size: 1em;
    font-weight: 600;
}

.summary-product-cart{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}

.checkout-from-cart{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.checkout-from-cart button{
    background-color: #212327;
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 3em;
    color: white;
    font-weight: 300;
}

/* WELCOME HEADER */

.welcome-container{
    width: 100%;
    height: 90vh;
    background-image: url(/assets/images/background.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.shop-btn{
    width: 5em;
    height: 2em;
    margin-top: 2em;
    border: none;
    border-radius: 20px;
    background-color: #212327;
    color: white;
    font-size: 1em;
    font-weight: 600;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}


        /* Benefits Section  */

.benefits-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.icon-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 30vh;
    justify-content: center;
    border: #acb3b8 5px solid;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 15px;
    
}
        /* Featured Section */
.featured-section{
    background-color: #212327;
    display: flex;
    flex-direction: column;
    color: #acb3b8;
}

.desc-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(207, 207, 207);
    margin-top: 1.2em;
}
.underline{
    position: relative;
    display: inline-block;
    content: "";
    width: 80%;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.underline::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 100%; 
    background-color: #ddc01a;
    border-radius: 20px;
}


.products-tiles{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    
}

.product-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 40%;
    padding: 5px;
    
}

.products-tiles img {
    width: 90%;
    height: 90%;
    border-radius: 5px;
}
        /* Category section */

.category-store{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-weight: 900;
    font-size: 2.5em;
    color: white;
    
}

.category-btn{
    width: 40%;
    height: 15%;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #212327;
    color: whitesmoke;
    

}

.category-tile{
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    
}
.category-tile h4{
    -webkit-text-stroke: #2b313d 1px;
}
.sneakers-tile{
    background-image: url(/assets/images/sneakers.webp);
}

.acsessory-tile{
    background-image: url(/assets/images/acsessory.webp);
}

.clothes-tile{
    background-image: url(/assets/images/clothes.webp);
}
        /* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #ddc01a;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
        /* Footer Section */

  footer{
    background-color: #171717;
    width: 100%;
    color: white;
  }

  .categories, .informations, .help, .contact, .rights{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2em;
    padding-top: 1em;
  }

  .categories, .informations, .help, .contact, a{
    text-decoration: none;
    color: white;
    font-weight: 300;
  }

  .underline-footer{
    margin: auto;
    margin-top: 1em;
  }

  .rights{
    font-weight: 300;
    font-size: 14px;
  }